* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Console';
    user-select: none;
}

.background {
    background-color: #000;
    height: 100vh;
    padding-top: 1px;
    background-image: linear-gradient(to top left,
          rgba(179, 98, 0, .15) 50%,
          rgba(0, 1, 48, .1) 30%,
          rgba(0, 0, 0, 0));
}

.title {
    color: orange;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

.display {
    color: aqua;
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 2px dashed white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.tile:hover{
    border: 2px dashed yellow;
    box-shadow: 0 0px 7px yellow;

}

.playerX {
    color: yellow;
}

.playerO {
    color: white;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: white;
    color: black;
}

#reset {
    background-color: white;
    color: black;
    transition: 0.2s ease;
}
#reset:hover{
    font-size: 25px;
    background-color: #d78a60;
    color: #000000;
    box-shadow: 0 5px 5px #92522f;
}






.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(11, 12, 38, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: rgb(0, 199, 172) ;
  display: block;
  transition: 0.3s;
  text-shadow: 2px 2px 2px #000;
  transition: 0.3s ease;
}

.overlay a:hover, .overlay a:focus {
  color: yellow; 
  font-size: 46px;
}

.overlay .closebtn {
  position: absolute;
  top: 70px;
  right: 135px;
  font-size: 60px;
  color: aqua;
  transition: 0.2s ease;
}

.overlay .closebtn:hover{
  color: red;
  font-size: 79px;
  top: 65px;
  right: 125px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
